{% extends "base.html" %}

{% block content %}

        <ul>
            {% for post in posts %}
                <li>
                    <h2><a href="{% url 'post_details' post.id %}">{{post.title}}</a></h2>

                    <b>Created by {{post.user}}</b>

                    <p>{{post.description}}</p>

                    {% if post.post_image %}

                        <p><img src="{{ post.post_image.url }}" alt="Photo"></p>

                    {% endif %}

                    <div class="container text-center">
                    <div style="display: flex; gap: 10px;">
                    <div class="row">
                    <div class="col-12 col-lg-6">

                    <p>	<form  method = "post" action = "{% url 'like_or_dislike' 'like' post.id %}" >{% csrf_token %}
                    <button type="submit" class="btn btn-success w-100">&#128077 {{post.likes.count}} Like</button> </form>
                    </div>
                    <div class="col-12 col-lg-6">
                    <p>	<form  method = "post" action = "{% url 'like_or_dislike' 'dislike' post.id %}" >{% csrf_token %}
                    <button type="submit" class="btn btn-success w-100">&#128078 {{post.dislikes.count}} Dislike</button> </form> </p>

                    </div></div></div></div>

                </li>
            {% endfor %}
        </ul>

{% if is_paginated %}
  <div class="d-flex justify-content-center">
    <ul class="pagination">
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <li class="page-item active"><a class="page-link">{{ num }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% endblock %}